extends layout

block content
  h2 food available at the moment
  .section
    .side-bar
        h2 users
        ul
          if users
            each user in users
              li= user.username
            each user in users
              li= user.address  
    #map
      script.
        function initMap() {
          var mapDiv = document.getElementById('map');
          var map = new google.maps.Map(mapDiv, {
            center: {lat: 60.157, lng: 24.947},
            zoom: 14
          });

          var userLocations = [
            ['pizzaa', 60.1609, 24.9375, 4],
            ['random vihanneksia', 60.1591, 24.9392, 3],
            ['keittoo', 60.1645, 24.9379, 2],
            ['lasagne', 60.1582, 24.9482, 1]
          ];

          var infowindow = new google.maps.InfoWindow();
          var marker, i;

          for (i = 0; i < userLocations.length; i++){
            marker = new google.maps.Marker({
              position: new google.maps.LatLng(userLocations[i][1], userLocations[i][2]),
              map: map
            });
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
              return function() {
                infowindow.setContent(userLocations[i][0]);
                infowindow.open(map, marker);
              }
            })(marker, i));
          }
        }