extends layout

block content
  h1 Members area
  p Welcome to the members area
  #map
  script.
   function initMap() {
   var mapDiv = document.getElementById('map');
   var map = new google.maps.Map(mapDiv, {
   center: {lat: 44.540, lng: -78.546},
   zoom: 8
   });
   }

   <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQx6zqrKnlEptqO2WZOnT4iOS7mkzEjwo&callback=initMap"type="text/javascript"></script>