extends layout

block content
  h1 Members area
  p Welcome to the members area
  div#map
  <script>
   function initMap() {
     var mapDiv = document.getElementById('map');
     var map = new google.maps.Map(mapDiv, {
         center: {},
         zoom: 8
     });
   }
  </script>
