extends layout

block content
  h1 Members area
  p Welcome to the members area
  #map
  script.
   function initMap() {
   var mapDiv = document.getElementById('map');
   var map = new google.maps.Map(mapDiv, {
   center: {lat: 60.157, lng: 24.947},
   zoom: 8
   });
   }