form {
	margin-left: 30px;
}

input {
	max-width: 300px;
}

h1, h2 {
	margin-left: 30px;
}

.section {
	width: 100%;
}

.side-bar {
	width: 50%;
	float: left;
	margin-left: 30px;
}

#map {
	width: 50%;
	float: left;
	height: 600px;
}