form {
	margin-left: 30px;
}

input {
	max-width: 300px;
}

h1, h2 {
	margin-left: 30px;
}

li {
	list-style-type: none;
}

li:nth-child(2) {
	margin-bottom: 4px;
}

.section {
	width: 100%;
}

.side-bar {
	width: 30%;
	float: left;
	margin-left: 30px;
}

#map {
	width: 60%;
	float: left;
	height: 500px;
}

